
.goalscontent{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.goal{
  width:50vw;
  height:300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  background:white;
  border-radius:20px;
  margin:20px;
  box-shadow:lightgrey 0px 8px 24px;
}
.goalicon{
  width:20%;
  background:none;
  height:100%;
  font-size:120px;
  display: flex;
  color:red;
  align-items: center;
  justify-content:center;
}
.goalrightsection{
  width:80%; 
  height:100%;
  display: flex;
  justify-content:center;
  align-items:center;
flex-direction: column;
}
.goaltitle{
  width:100%;
  height:40%;
  font-weight:bold;
  display: flex;
  justify-content:center;
  align-items:center;
}
.goalp{
  width:80%;
  height:60%;
  font-size:calc(18px + 0.3vw);
  text-align:left;
  overflow-wrap: break-word;
  color:grey;
}

.container-home {

  -moz-height:100%;
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
background:white;
  margin:0px;
 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.aboutme {

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

     -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aboutsectionOC{
  width:100vw;
position:absolute;
animation:slideup 1s 1,fadein 1s 1;
filter:opacity(60%);
display:none;

}

.section-header {
    max-height: 1%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    text-align: center;
     font-size:calc(30px + 0.3vw);
     font-weight:600;
     padding:15px;
     
      -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.aboutme-main-container{
  background:#e8ecf1;
  width:100vw;
  padding:70px 0px;
  margin:0px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
   
}

.aboutme-content {
  animation:fadein 1s 1,slideinfromleft 1s 1;
    display: flex;
    color:grey;
    line-height:25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width:50vw;
    font-size:calc(18px + 0.3vw);
font-family:Montserrat;
        -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


}
.statistics-main-container{
  background:#e8ecf1;
  width:100vw;
  padding:30px 0px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
}

.statistics-content{

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

  flex-direction:row;
  margin-bottom:50px;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  


}
    .statisticsnumbercontainer{
      background:white;
      border-radius:20px;
      margin:10px;
      padding:30px;
      box-shadow:lightgrey 0px 8px 24px;
    }
    .statisticsnumbercontainer > i{
      color:white;
      font-size:70px;
      margin:10px;
    }
.statisticsnumber{
color:white;
  font-size:calc(30px + 2vw);
  margin:0px 20px;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
animation:slideinfromleft 2s 1;
font-family: GothamPro;
font-weight:bold;
letter-spacing:5px;

}





.statisticslabel{
  font-size:calc(17px + 0.2vw);
    animation:slideinfromright 2s 1;
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight:bold;
  color:white;
  width:100%;
  padding:10px 0px;
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  letter-spacing:2px;
}

.games-main-container{
  background: white;
  width:100vw;
  padding:30px 0px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  flex-direction:column;
}
.games-content{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100vw;
  flex-direction:row;
}

.game{
  width:calc(470px + 5vw);
  box-shadow:lightgrey 0px 8px 24px;
  max-width:300px;
  height:300px;
   max-height:400px;
  border-radius:20px;
margin:20px;
background-size:cover;
background-position:center;
   transition:0.3s;
  z-index:10;
}
.game:hover{
  transform:scale(1.1);
  filter:brightness(150%);
}


.announcmentheader{
  width:100vw;
  margin:-8px;
  height:78px;
  position:fixed;
   background-image:linear-gradient(to bottom right,#38c3ff,cyan);
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:row;
   z-index:100;
   font-size:20px;
}
.announcmentb,.closeannounment{
  border:2px solid black;
  background:transparent;
  color:black;
  border-radius:5px;
  padding:5px;
  margin:10px;
   font-size:20px;
   transition:0.3s;
}
.announcmentb:hover,.closeannounment:hover{
  border:2px solid white;
  background:white;
  cursor:pointer;
  transition:0.3s;

}
@media only screen and (max-width: 1000px) {
  .bannerlogo{
    width:400px;
  }

@media only screen and (max-width: 800px) {

  .aboutme-content{
    font-size:25px;
    width:70vw;
  }
  .goalscontent{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width:100vw;
    height:auto;
    align-items: center;
    justify-content:center;
  }
  .goal{
    width:80vw;
    height:auto;
    margin:30px;
    background:none;
    box-shadow:none;}

  .goalrightsection{
    width:130vw;
  }
  .goaltitle{
    margin:10px;
  }
.goalp{
text-align: center;
font-size:25px;
}
  .goalicon{
    display:none;
  }
  .announcmentheader p{
  font-size:17px;
  margin:10px;
}
.announcmentb{
  font-size:15px;
}
.closeannounment{
  display:none;
}
  aboutsectionOC{
    display:none;
  }

.game-play-b > p{
  display:none;
}
.game-play-b-unavailable > p{
  display:none;
}
.pagetitlehome{
  font-size:40px;
  text-shadow:none;
}
.games-content{
  flex-direction:column;
}
.statistics-content{
  flex-direction:column;
}
.statisticsnumbercontainer{
  width:60vw;
}
.statisticsnumber{
  font-size:calc(70px + 2vw);
}


.statisticslabel{
  font-size:calc(20px + 0.2vw);
}


}
